.item{
    border: 1px solid;
    display: inline-block;
    padding: 4px 14px;
    color: rgb(15, 114, 81);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 3px 3px 0px #dfdfdf;
    transition: 0.35s;
}
.item:active{
    box-shadow: 1px 3px 3px 0px #000000;
}
.item.disabled{
    cursor: not-allowed;
    color: #ccc;
}

.active{
    cursor: auto;
    color: #f40;
    border:none
}